<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge: Health Emergency QR Band</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='resourses/logo4.png') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&family=Audiowide&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo"><img src="{{ url_for('static', filename='resourses/logo4.png') }}" alt="" class="logo-img"><span style="padding-left: 10px;">Blood Bridge</span></div>
    </nav>
  </header>

    <section class="container donor-list">
        <h2>Choose the blood group</h2>
        <div class="form-group">
            <form action="/sos-send" method="post" class="sos-no">
                <div class="form-group">
                    <label for="blood_group">Blood Group:</label>
                    <select name="blood_group" id="blood_group">
                        <option value="A+" {% if selected_group == "A+" %}selected{% endif %}>A+</option>
                        <option value="A-" {% if selected_group == "A-" %}selected{% endif %}>A-</option>
                        <option value="B+" {% if selected_group == "B+" %}selected{% endif %}>B+</option>
                        <option value="B-" {% if selected_group == "B-" %}selected{% endif %}>B-</option>
                        <option value="AB+" {% if selected_group == "AB+" %}selected{% endif %}>AB+</option>
                        <option value="AB-" {% if selected_group == "AB-" %}selected{% endif %}>AB-</option>
                        <option value="O+" {% if selected_group == "O+" %}selected{% endif %}>O+</option>
                        <option value="O-" {% if selected_group == "O-" %}selected{% endif %}>O-</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="sos-button">Send Emergency SOS</button>
                </div>
            </form>
    </section>


  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Blood Bridge | Pratham Bhandary | For every life that matters</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
