<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge: Health Emergency QR Band</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='resourses/logo4.png') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
  <header>
    <nav class="navbar">
      <div class="logo"><img src="{{ url_for('static', filename='resourses/logo4.png') }}" alt="" class="logo-img"><span style="padding-left: 10px;">Blood Bridge</span></div>
      <!-- <a href="/register" class="nav-btn">Register</a> -->
    </nav>
  </header>

    <main class="container">
        <section class="card">
            <h2>Login - Hospital Dashboard</h2>
            <form action="/hospital" method="post" class="register-form">
                <label for="name">Email Address</label>
                <input id="email" type="email" id="email" name="email" placeholder="you@example.com" required>

                <label for="email">Password</label>
                <input id="password" type="password" id="password" name="password" placeholder="********" required>

                <label for="">{{error}}</label>

                <button type="submit">Submit</button>
            </form>
            <a href=""></a>
        </section>
    </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Blood Bridge | Pratham Bhandary | For every life that matters</p>
    </div>
  </footer>
</body>
