<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge: Health Emergency QR Band</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">Blood Bridge</div>
      <a href="/verify-otp" class="nav-btn">Register</a>
    </nav>
  </header>

    <main class="container">
        <section class="card">
            <h2>OTP Verification</h2>
            <form action="/login" method="post" class="register-form">
                <label for="name">OTP sent to {{email}}</label>
                <input id="otp" type="number" name="otp" placeholder="1234" required>

                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Blood Bridge | Pratham Bhandary | For every life that matters</p>
    </div>
  </footer>
</body>
