<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge: Health Emergency QR Band</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&family=Audiowide&display=swap" rel="stylesheet">
    <style>
        label {
            font-size: 15px;
        }
    </style>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo"><img src="{{ url_for('static', filename='resourses/logo4.png') }}" alt="" class="logo-img"><span style="padding-left: 10px;">Blood Bridge</span></div>
    </nav>
  </header>

  <main class="container">
    <section class="card">
      <h2>Personal Information</h2>
      <form action="/user_edit" method="post" class="register-form" autocomplete="off">

        <label for="name">Full Name: {{ user.name }}</label>

        <div class="form-row">
          <div class="form-group">
            <label for="email">Email Address: {{ user.email }}</label>
          </div>
          <div class="form-group">
            <label for="email">Age: {{ user.age }}</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="phone">Phone Number: {{ user.phone }}</label>
          </div>
          <div class="form-group">
            <label for="blood_group" style="color: red;">Blood Group: {{ user.blood_group }}</label>
          </div>
        </div>

        <label for="address_line">Address: {{ user.address_line }}</label>

        <div class="form-row">
          <div class="form-group">
            <label for="city">City: {{ user.city }}</label>
          </div>
          <div class="form-group">
            <label for="state">State: {{ user.state }}</label>
          </div>
          <div class="form-group">
            <label for="pincode">Pincode: {{ user.pincode }}</label>
          </div>
        </div>
        <h2>Emergency Instructions</h2>
        <label for="first_aid">{{ user.first_aid }}</label>

        <h2>Medical Conditions</h2>
        <div>
            {% for condition in ['diabetes', 'hypertension', 'asthma', 'epilepsy', 'heart_disease', 'kidney_disease', 'bleeding_disorder', 'organ_transplant', 'mental_disorder'] %}
                {% if user[condition] %}
                <div class="form-group">
                    <label>{{ condition.replace('_', ' ').title() }}: Yes</label>
                </div>
                {% endif %}
            {% endfor %}
        </div>




        <label for="other_conditions">Other Medical Conditions: {{ user.additional_conditions }}</label>


        <h2>Emergency Contact</h2>
        <div class="first-row">
          <div class="form-group">
            <label for="emergency_contact_name">Full Name: {{ user.emergency_contact_name }}</label>
          </div>
          <div class="form-group">
            <label for="emergency_contact_number">Phone Number: {{ user.emergency_contact_number }}</label>
          </div>
          <div class="form-group">
            <label for="emergency_contact_relation">Relationship: {{ user.emergency_contact_relation }}</label>
          </div>
        </div>

        <h2>Family Contact</h2>
        <div class="first-row">
          <div class="form-group">
            <label for="family_contact_name">Full Name: {{ user.family_contact_name }}</label>
          </div>
          <div class="form-group">
            <label for="family_contact_number">Phone Number: {{ user.family_contact_number }}</label>
          </div>
          <div class="form-group">
            <label for="family_contact_relation">Relationship: {{ user.family_contact_relation }}</label>
          </div>
        </div>

        <h2>Doctor Contact</h2>
        <div class="first-row">
          <div class="form-group">
            <label for="doctor_name">Doctor's Name: {{ user.doctor_name }}</label>
          </div>
          <div class="form-group">
            <label for="doctor_specialization">Specialization: {{ user.doctor_specialization }}</label>
          </div>
        </div>
        <div class="first-row">
          <div class="form-group">
            <label for="doctor_contact_number">Phone Number: {{ user.doctor_contact_number }}</label>
          </div>
          <div class="form-group">
            <label for="doctor_email">Email: {{ user.doctor_email }}</label>
          </div>
        </div>

        <h2>QR Details</h2>
        <div class="first-row">
          <div class="form-group">
            <label for="qr_code_id">QR Code ID: {{ user.qr_code_id }}</label>
          </div>
          <div class="form-group">
            <label for="last_updated">Last Updated: {{ user.last_updated }}</label>
          </div>
        </div>
      </form>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Smart Health Band | Built with ❤️ for the INSPIRE Awards</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
