<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge: Health Emergency QR Band</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
  <nav class="navbar">
      <div class="logo"><img src="{{ url_for('static', filename='resourses/logo4.png') }}" alt="" class="logo-img"><span style="padding-left: 10px;">Blood Bridge</span></div>
      <a href="/logout" class="nav-btn">Logout</a>
    </nav>

  <main class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <section class="card">
      <h2 style="color: #10349e;">Use this QR code as an identity always with you in case of emergency.</h2>
      <img src="{{ url_for('static', filename='qrcodes/' + id + '.png') }}"
          alt="QR Code"
          style="width: 100%; max-width: 300px; height: auto; margin-bottom: 1rem;" />
      <form action="/back-home" class="register-form">
        <a href="{{ url_for('static', filename='qrcodes/' + id + '.png') }}" class="register-form"
          download="{{ id }}_qr.png"
          style="text-decoration: none;">
          <button type="button" style="background-color: #aa001e;">Download</button>
        </a>
        <button type="submit">Back Home</button>
      </form>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Smart Health Band | Pratham Bhandary | For every life that matters</p>
    </div>
  </footer>
</body>
