<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scan2Save: Health Emergency QR Band</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">Scan2Save</div>
      <a href="/" class="nav-btn">Home</a>
    </nav>
  </header>

  <main class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <section class="card">
      <h1 style="color: #10349e;">Use this QR code as an identity always with you in case of emergency.</h1>
      <img src="{{ url_for('static', filename='qrcodes/' + id + '.png') }}"
          alt="QR Code"
          style="width: 100%; max-width: 300px; height: auto; margin-bottom: 1rem;" />
      <form action="" class="register-form">
        <a href="{{ url_for('static', filename='qrcodes/' + id + '.png') }}" class="register-form"
          download="{{ id }}_qr.png">
          <button type="button" style="background-color: #10349e;">Download</button>
        </a>
      </form>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Smart Health Band | Built with ❤️ for the INSPIRE Awards</p>
    </div>
  </footer>
</body>
