<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blood Bridge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='resourses/logo4.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
  <style>
    
  </style>
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='resourses/logo4.png') }}" alt="Blood Bridge Logo" class="logo-img" />
      <span>Blood Bridge</span>
    </div>

    <div class="nav-links" id="nav-links">
        <a href="/logout" class="nav-btn">Logout</a>
    </div>

  </nav>

  <section class="hero">
    <h1>Welcome Back, {{ user.name }}</h1>
    <p>
      Blood Bridge connects life-saving donors with those in critical need — faster, smarter, and closer than ever before.
    </p>
    <!-- <a href="/register" class="cta-btn">Join the Movement</a> -->
  </section>

  
  <main class="container-post-login">

    <!-- <div class="card">
      <h2>🚶‍➡️ View Nearest Emergencies</h2>
      <p>
        See a real-time list of urgent blood requests in your area so you can respond faster than ever.
      </p>
      <br>
      <a href="/emergencies" class="cta-btn" style="background-color: #aa001e;">View Emergencies</a>
    </div> -->

    <div class="card">
      <h2>📝 Your Personal Details</h2>
      <p>
        Keep your donor information up to date to ensure we can reach you when your blood type is needed.
      </p>
      <br>
      <a href="/redirect-to-edit-user" class="cta-btn" style="background-color: #aa001e;">Update Details</a>
    </div>
    
    <div class="card">
      <h2>⚙️ Generate Your Emergency QR</h2>
      <p>
        Create a scannable QR code that contains your vital donor details for use in emergencies — fast, secure, and always ready.
      </p>  
      <br>
      <a href="/qr-register" class="cta-btn" style="background-color: #aa001e;">Generate QR Code</a>
    </div>

    <!-- <div class="card">
      <h2>💡 View Your Certificates</h2>
      <p>
        Access and download your donation certificates to track your contributions and inspire others to give.
      </p>  
      <br>
      <a href="/certificates" class="cta-btn" style="background-color: #aa001e;">View Certificates</a>
    </div> -->

  </main>

  <footer>
    &copy; 2025 Blood Bridge | Pratham Bhandary | For every life that matters
  </footer>
</body>

</html>
